.RoomsSuits2Sec {
  background-image: url(../../Assets/img/3.jpg);
  padding: 120px 0;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 60vh;
}
.RoomsSuits2Sec .textCenter {
  display: flex;
  flex-direction: column;
  align-items: end;
  text-align: end;
}
.RoomsSuits2Sec .textCenter .subtitle {
  font-size: 15px;
  font-family: "Barlow Condensed", sans-serif;
  text-transform: uppercase;
  letter-spacing: 6px;
  margin-bottom: 10px;
  color: #fff;
}
.RoomsSuits2Sec .textCenter .title {
  font-family: "Gilda Display", serif;
  font-weight: 400;
  line-height: 1.25em;
  margin: 0 0 20px 0;
  color: #fff;
  font-size: 70px;
}
.cardsContainer {
  padding: 5rem 0rem;
}
.flip-card {
  background-color: transparent;
  width: 350px;
  height: 466px;
  perspective: 1000px;
}

.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.6s;
  transform-style: preserve-3d;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  backface-visibility: hidden;
  -moz-backface-visibility: hidden;
}

.flip-card:focus {
  outline: 0;
}

.flip-card:hover .flip-card-inner,
.flip-card:focus .flip-card-inner {
  transform: rotateY(180deg);
}

.flip-card-front,
.flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
}

.flip-card-front {
  background: linear-gradient(to left, #f7be43, #210a86);
  color: black;
  z-index: 2;
  display: flex;
  justify-content: center;
  align-items: center;
}

.flip-card-back {
  background-color: #f8f5f0;
  color: rgb(0, 0, 0);
  transform: rotateY(180deg);
  z-index: 1;
  display: flex;
  justify-content: start;
  align-items: center;
}
.flip-card-back .room-info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  text-align: start;
  justify-content: start;
  padding: 1rem 2rem;
}
.flip-card-back .room-info h6 {
  color: #aa8453;
  font-size: 15px;
  font-weight: 400;
  font-family: "Barlow Condensed", sans-serif;
  letter-spacing: 3px;
  text-transform: uppercase;
  margin-bottom: 10px;
}
.flip-card-back .room-info h4 {
  font-size: 30px;
  color: #222;
  font-family: "Gilda Display", serif;
  font-weight: 400;
  line-height: 1.25em;
  margin: 0 0 20px 0;
}
.flip-card-back .room-info p {
  font-size: 15px;
  color: #666;
  font-family: "Barlow", sans-serif;
  font-weight: 400;
  line-height: 1.75em;
  margin-bottom: 20px;
}

.flip-card-back .room-info div {
  display: flex;
  flex-direction: row;
  text-align: center;
  justify-content: start;
  align-items: center;
}

.flip-card-back .room-info .detailsText {
  border-bottom: 1px solid #666;
  color: #666;
  margin-top: 2rem;
  transition: 0.5s ease;
  font-size: 20px;
  cursor: pointer;
}
.flip-card-back .room-info div span {
  margin-right: 10px;
  padding-left: 0.1rem;
  color: #666;
  font-size: 17px;
}
.flip-card-back .room-info div .icon {
  margin-right: 5px;
  color: #aa8453;
  font-size: 22px;
}
.cardGrid {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
